<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/cyborg/bootstrap.min.css" integrity="sha384-nEnU7Ae+3lD52AK+RGNzgieBWMnEfgTbRHIwEvp1XXPdqdO6uLTd/NwXbzboqjc2" crossorigin="anonymous">
    <title>News App</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-info">
        <div class="container-fluid">
            <a class="navbar-brand" href="/"><strong>Home</strong></a>
            <a class="navbar-brand" href="https://timesofindia.indiatimes.com/india/india-reports-1574-covid-19-cases-and-nine-deaths-in-last-24-hours/articleshow/95158426.cms"><strong>Covid Updates</strong></a>
            <a class="navbar-brand" href="https://indianexpress.com/article/world/rishi-sunak-uk-prime-minister-britain-live-updates-8228314/"><strong>Uk Prime Minister Updates</strong></a>
            <a class="navbar-brand" href="https://newsapi.org/"><strong>News API</strong></a>
            <form method="post" class="d-flex">
                {% csrf_token %}
                <input class="form-control me-sm-2" type="text" placeholder="Enter Country Code....." name="country">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit" name="search" value="searched">Search</button>
            </form>
        </div>
    </nav>
    <h2 style="text-align:center"><img src="{% static 'image/news.jpg' %}" style="width: 350px; height: 200px;"><img src="{% static 'image/news1.jpg' %}" style="width: 350px; height: 200px;"></h2>
    {% if error %}
        <h3 style="text-align: center; margin-top:80px;">{{error}}</h3>
    {% endif %}
    {% for title, desc, url, img_url, publishedAt in data %}
        <img src="{{img_url}}" style="width: 1500px; height: 700px">
        <h3><span class="badge bg-primary">Title: </span> <h5>{{title}}</h5></h3>
        <h3><span class="badge bg-success">Description: </span> <h5>{{desc}}</h5></h3>
        <h3><span class="badge bg-danger">Source: </span><h5><a href="{{url}}">{{url}}</a></h5></h3>
        <h3><span class="badge bg-warning">Published At: </span> <h5>{{publishedAt}}</h5></h3>
        <br>
    {% endfor %}
</body>
</html>
